.option-card {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #ccc;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    border-radius: 6%;

    @media (min-width: 1024px) {
        font-size: 26px;

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        }
    }
}
